.container {
    .title {
        margin: 30px 0;
    }

    .bar {
        margin: 15px 0;
    }

    .progress {
        height: 4em !important;
    }

    .user-control .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons .button {
        margin: 10px;
    }
}
